@page "/resources/{ResourceId:int}"
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime


<div style="width:100%;"> <!-- Main Div -->
    <div class="left-column" style="float:left; width:20%;"> <!-- Left Column -->
        <div class="form-group">
            <img src="https://en.wikipedia.org/wiki/International_Klein_Blue#/media/File:IKB_191.jpg">
            <button type="button" class="btn btn-primary" @onclick="Edit">Edit</button> <br>
            <button type="button" class="btn btn-danger" @onclick="Delete">Delete</button> <br>
            <button type="button" class="btn btn-secondary" @onclick="Back">Back</button> <br>
        </div>
    </div>
    <div class="right-column"> <!-- Right Column -->
        @if (resource != null)
        {
            <h1> @resource.Title</h1>
            <hr> 
            <div class="resource-info">
                <p>
                    Created by user: @resource.User.UserName, at @resource.Created <br>
                    Last updated: @resource.Updated
                </p>
            </div>
            
            <div class="resource-content-container" >
                <p class="paragraphs-info"> Description:</p> 
                <div class="resource-content"> 
                @foreach (var paragraph in resource.TextParagraphs)
                {
                    <p class="paragraphs">@paragraph</p>
                }
                </div>
            </div>

        }

    </div>
</div>

<style>
    .form-group {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    .left-column img {
        width: 150px;
        height: 300px;
        margin-bottom: 2em;
    }

    .left-column button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        margin-top: 10px;
    }

    .right-column {
        float:left;
        width:80%;
        margin-left;10px
        padding-right: 3%;
    }

    .resource-content-container {
        display: block;
        justify-content: left;
        max-width: 100%;
    }

    .resource-content {
        border: 1px solid grey;
    }

    .paragraphs-info {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .paragraphs {
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 1%;
    }
</style>

@code {
    [Parameter]
    public int? ResourceId { get; set; }

    private ResourceDetailsDTO? resource;

    protected override async Task OnParametersSetAsync()
    {
        try
        {
             if (ResourceId != 0)
            {
                resource = await Http.GetFromJsonAsync<ResourceDetailsDTO>($"api/resources/{ResourceId}");
            }

            await base.OnParametersSetAsync();
        }
        catch (Exception exception)
        {
            Console.WriteLine(exception.Message);
            resource = new ResourceDetailsDTO {
                Id = 1,
                Title = "Title",
                Created = DateTime.Today,
                Updated = DateTime.Today,
                TextParagraphs = new List<string>{"Hello", "there"},
                ImageUrl = "image.com"
            };

        }
    }

    private void Edit()
    {
        var uri = $"{NavigationManager.BaseUri}resources/{ResourceId}/edit";

        NavigationManager.NavigateTo(uri);
    }

    private async Task Delete()
    {
        if (await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete the resource?"))
        {
            await Http.DeleteAsync($"api/Resources/{ResourceId}");

            var uri = $"{NavigationManager.BaseUri}resources";

            NavigationManager.NavigateTo(uri);
        }
    }

    private void Back()
    {
        var uri = $"{NavigationManager.BaseUri}resources";

        NavigationManager.NavigateTo(uri);
    }
}
